build*
.idea/*
cmake-build-debug/*
cmake-build-web/*
.junie/guide.md
cmake-build-vulkan/*
cmake-build-easygl/*
.sdl-prebuilt/
.sdl-prebuilt-*/
cmake-build-bgfx/*
cmake-build-windows/*
cmake-build-android/*


