build*
.idea/*
cmake-build-debug/*
cmake-build-web/*
.junie/guide.md
cmake-build-vulkan/*
cmake-build-easygl/*
.sdl-prebuilt/
.sdl-prebuilt-*/
cmake-build-bgfx/*
vendor/wgpu-native/
cmake-build-input-easygl/*
cmake-build-input-vulkan/*
cmake-build-input-bgfx/*
cmake-build-input-sdlrenderer/*
cmake-build-android/*
cmake-build-devices-asan/*
cmake-build-devices-tsan/*
cmake-build-devices-ubsan/*
cmake-build-windows/*
cmake-build-tests/*
__pycache__/
*.pyc


